.growth {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background: var(--grayscale-06);
  color: var(--grayscale-00);
}

.container {
  max-width: var(--desctop);
  margin: 0 60px;
  width: 100%;
}

.heading {
  display: flex;
  padding: 60px 0px;
  margin: 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  border-radius: 60px;
  border: 1px solid var(--grayscale-04);

  @media screen and (max-width: 768px) {
    margin: 0 16px;
  }
}

.heading_title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 375px) {
    width: 303px;
  }
}

.button {
  @media screen and (max-width: 375px) {
    width: 303px;
  }
}

.media {
  margin-top: 100px;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.media_text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.media_title {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;

  max-width: 822px;

  @media screen and (max-width: 1280px) {
    font-size: 40px;
    margin: 0 16px;
  }

  @media screen and (max-width: 375px) {
    width: 355px;
  }
}

.media_desc {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  max-width: 537px;

  @media screen and (max-width: 1280px) {
    font-size: 20px;
    margin: 0 16px;
  }

  @media screen and (max-width: 375px) {
    width: 355px;
  }
}

.social {
  display: flex;
  margin: 45px;
  gap: 40px;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    gap: 28px;
    margin: 20px 16px;
  }
}

.social_icon {
  cursor: pointer;
  width: 90px;
  height: 90px;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    width: 64px;
    height: 64px;
  }

  &:nth-of-type(2),
  &:nth-of-type(4) {
    margin-top: 90px;

    @media screen and (max-width: 768px) {
      margin-top: 64px;
    }
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;

  max-width: var(--desctop);
  width: 100%;
  padding: 0px 60px;
  justify-content: center;
  align-items: center;
  gap: 90px;

  @media screen and (max-width: 768px) {
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  @media screen and (max-width: 375px) {
    width: 375px;
  }
}

.partners_icom {
  width: max-content;
}
